
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* General */
/* ------------------------------------------------------------------------------------------- */

html {
  overflow-x: hidden;
}

body {
  background-color: $collour-dark-primary;
  background-image: url('/public/img/bg2.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 2000px 50px;
  min-height: 100vh;
}

.content-wrapper {
  min-height: 90vh;
}

form {
  width: 80%;
}

a {
  color: $collour-dark-secondary;
  transition: color 1s;
}

a:hover {
  color: white;
  text-decoration: none;
}

input, textarea {
  background-color: $collour-dark-primary !important;
  color: #636b6f !important;
}

.user-placeholder {
  background-image: url('/public/img/avatar_placeholder.jpg');
  background-size: contain;
}

.actions {
  font-size: 1em;

  ul {
    margin: 0;
    padding: 1em 0 1em 0;

    li {
      display: inline-block;
      padding: 0 1em 0 1em;
      border-right: 1px solid $collour-dark-secondary;
    }

    li:last-child {
      border: none;
    }
  }
}

/* Home */
/* ------------------------------------------------------------------------------------------- */

.home-main-wrapper {
  .news-item {
    h3 {
      border-bottom: 1px solid $collour-accent-dark;
    }
  }
}

.home-news-wrapper {
  border-left: 1px solid $collour-accent-dark;

  .news-item-title {
    padding-left: 1em;
    border-bottom: 1px solid $collour-accent-dark;
  }

  .news-item-content {
    padding-left: 1em;
    font-size: 0.8em;
    margin-bottom: 1em;
  }
}

/* Header */
/* ------------------------------------------------------------------------------------------- */

header {
  padding: 1em;
  background-color: transparent;

  position: relative;
  z-index: 10;

  .logo {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;

    a {
      color: #00A7B5;
    }

    a:hover {
      color: white;
    }
  }

  .user-avatar {
    height: 4em;
    width: 4em;
    border: 1px solid $collour-accent-dark;
    cursor: pointer;

    position: absolute;
    top: 1em;
    right: 2em;
  }

  .user-dropdown {
    text-align: right;
    display:none;
    border-right: 1px solid $collour-accent-dark;
    background-color: rgba(17, 20, 23, 0.51);

    position: absolute;
    top: 81px;
    right: 2em;

    .fancy-border {
      height: 16px;
      width: 0;
      border-right: 1px solid #7b848c;
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);

      position: absolute;
      right: 5px;
      top: -1em;
    }

    ul {
      margin: 0;
      padding-left: 0;

      li {
        display: block;
        border-bottom: 1px solid $collour-accent-dark;

        a{
          display: block;
          padding: 0.5em;
          transition: background-color 1s, color 1s;
        }

        a:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}

/* Events */
/* ------------------------------------------------------------------------------------------- */
.event-list-wrapper {
  max-height: 80vh;
  overflow-y: auto;

  .event {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1em 0 1em 1em;
    margin: 1em 0 1em 0;

    .event-title {
      font-size: 1.5em;
    }
  }
}

.event-wrapper {
  .event {
    margin-bottom: 2em;
  }

  .comment {
    padding: 2em 1em 2em 1em;

    .author-avatar {
      height: 4em;
      width: 4em;
    }
  }

  .event-comment-wrapper {
    padding-top: 2em;
  }
}

/* Teams */
/* ------------------------------------------------------------------------------------------- */
.teams-list-wrapper {
  .team {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1em 0 1em 1em;
    margin: 1em 0 1em 0;

    .team-name {
      font-size: 1.5em;
    }
  }
}

.members {
  .member {
    margin: 1em;
    display: inline-block;
    border-left: 1px solid $collour-accent-dark;
    border-bottom: 1px solid $collour-accent-dark;

    .member-name {
      padding: 0.5em;
    }
  }

  .member-avatar {
    height: 6em;
    width: 6em;
  }
}

/* User profile */
/* ------------------------------------------------------------------------------------------- */

.user-profile {

  .team {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 1em;
    display: inline-block;
    text-align: center;
    transition: background-color 1s;

    a {
      display: block;
      padding: 1em;
    }

    .team-name {
      font-size: 1em;
      margin-top: 0.5em;
    }
  }

  .team:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}


/* Footer */
/* ------------------------------------------------------------------------------------------- */

footer {
  width: 100%;
  padding: 0.5em;
}

/* Bootstrap */
/* ------------------------------------------------------------------------------------------- */

.navbar-default {
  background-color: inherit;
  border-color: inherit;
  border: none;

  .navbar-nav {
    border-right: 1px solid $collour-accent-dark;

    li a:hover {
      color: white;
    }

    .active {
      a {
        background-color: inherit;
        color: white;
        border-right: 2px solid;
      }
      a:hover, a:focus {
        background-color: inherit;
        color: $collour-accent-dark;
      }
    }
  }
}


.navbar-toggle {
  float: left;
  margin: 1em;
}

.carousel {
  display:none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.31);
}

.panel-default {
  background-color: $collour-dark-primary;
  border-color: $collour-accent-dark;

  .panel-heading {
    color: $collour-accent-dark;
    font-weight: bold;
    background-color: $collour-dark-primary;
    border-color: $collour-accent-dark;
  }

  .panel-body {
    color: $collour-accent-dark;
  }

  .btn-primary {
    background-color: $collour-dark-primary;
  }

  input {
    border: 1px solid $collour-accent-dark;
  }
}


/* Responsive */
/* ------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 991px) {
  .home-news-wrapper {
    border: 1px solid $collour-accent-dark;

    .news-item-title {
      padding: 1em 1em 0 1em;
      border-bottom: 1px solid $collour-accent-dark;
    }

    .news-item-content {
      padding-left: 1em;
      font-size: 0.8em;
      margin-bottom: 1em;
    }
  }
}
@media (max-width: 768px) {
  .navbar-toggle {
    left: 1em;
  }
  .navbar-collapse {
    text-align: center !important;
  }
  .navbar-nav {
    margin: 0;
    li {
      border-bottom: 1px solid $collour-accent-dark;
    }
    .active {
      background-color: rgba(255, 255, 255, 0.04);

      a {
        border-right: none !important;
      }
    }
  }
}
